{% extends 'kidsedu/base.html' %}
{% load static %}
{% load kidsedu_tags %}

{% block content %}
     <!-- ABOUT -->
     <link rel="stylesheet" href="{% static 'kidsedu/css/all_classes.css' %}">

     {% for item in progs %}
     <section class="class section" id="class" style="background: {% cycle '#ffffff' '#f9f9f9' %}; margin-bottom:0">
        <div class="container">
             <div class="row">

                  <div class="col-md-6 col-sm-12">
                       <div class="about-info">
                            <div class="section-title wow fadeInUp">
                                 <h2 data-aos="fade-up" data-aos-delay="300">{{item.name}}</h2>
                            </div>

                            <div class="wow fadeInUp" data-aos="fade-up">
                                 <p data-aos="fade-up" data-aos-delay="300">{{item.about|linebreaks}}</p>
                            </div>
                       </div>
                  </div>

                  <div class="col-md-6 col-sm-12" style="margin-top: 80px;">
                       <div class="wow fadeInUp about-image" data-aos="fade-up" data-aos-delay="400">
                            <p>
                                <img src="{{item.photo.url}}" class="img-responsive" alt="{{item.name}}">
                                <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300" data-toggle="modal" data-target="#membershipForm">Оставить заявку</a>
                            </p>
                       </div>
                  </div>

             </div>
        </div>
   </section>
   {% endfor %}

    <!-- Modal -->
    {% add_person_form form %}
{% endblock content %}