{% extends 'kidsedu/base.html' %}
{% load static %}
{% block content %}
     <!-- ABOUT -->
     <link rel="stylesheet" href="{% static 'kidsedu/css/all_classes.css' %}">

     {% for item in progs %}
     <section class="class section" id="class" style="background: {% cycle '#ffffff' '#f9f9f9' %}; margin-bottom:0">
        <div class="container">
             <div class="row">

                  <div class="col-md-6 col-sm-12">
                       <div class="about-info">
                            <div class="section-title wow fadeInUp">
                                 <h2 data-aos="fade-up" data-aos-delay="300">{{item.name}}</h2>
                            </div>

                            <div class="wow fadeInUp" data-aos="fade-up">
                                 <p data-aos="fade-up" data-aos-delay="300">{{item.about|linebreaks}}</p>
                            </div>
                       </div>
                  </div>

                  <div class="col-md-6 col-sm-12" style="margin-top: 80px;">
                       <div class="wow fadeInUp about-image" data-aos="fade-up" data-aos-delay="400">
                            <p>
                                <img src="{{item.photo.url}}" class="img-responsive" alt="{{item.name}}">
                                <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300" data-toggle="modal" data-target="#membershipForm">Оставить заявку</a>
                            </p>
                       </div>
                  </div>

             </div>
        </div>
   </section>
   {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
  
          <div class="modal-content">
            <div class="modal-header">
  
              <h2 class="modal-title" id="membershipFormLabel">Форма заявки</h2>
  
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
            <div class="modal-body">
              <form class="membership-form webform" role="form">
                  <input type="text" class="form-control" name="cf-name" placeholder="Иван Иванов">
  
                  <input type="email" class="form-control" name="cf-email" placeholder="Ivanivanov@gmail.com">
  
                  <input type="tel" class="form-control" name="cf-phone" placeholder="+1-234-567-89-01" pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required>
  
                  <textarea class="form-control" rows="3" name="cf-message" placeholder="Дополнительное сообщение"></textarea>
  
                  <button type="submit" class="form-control" id="submit-button" name="submit">Подтвердить</button>
  
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="signup-agree">
                      <label class="custom-control-label text-small text-muted" for="signup-agree">Я согласен с <a href="#">Правилами и Условиями</a>
                      </label>
                  </div>
              </form>
            </div>
  
            <div class="modal-footer"></div>
  
          </div>
        </div>
      </div>
{% endblock content %}