<div class="ml-auto col-lg-5 col-md-6 col-12">
    <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">{{head_form_name}}</h2>

    <form action="#" method="post" class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
        {% csrf_token %}
        <div class="form-error">{{form_fb.non_field_errors}}</div>
        {% for cf in form_fb %}
        <p>{{ cf }}</p>
        <div class="form-error">{{ cf.errors }}</div>
        {% endfor %}
        <button type="submit" class="form-control" id="submit-button" name="submit">Отправить</button>
    </form>
</div>