{% extends 'kidsedu/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'kidsedu/css/all_classes.css' %}">
<section class="class section" id="class" style="margin-bottom:0">
<div class="hero-text mt-5 text-center">
    <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">{{title}}</h2>

    <form method="post" class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
        {% csrf_token %}
        <div class="form-error">{{form.non_field_errors}}</div>
        {% for cf in form %}
        <p>{{ cf }}</p>
        <div class="form-error">{{ cf.errors }}</div>
        {% endfor %}
        <button type="submit" class="form-control" id="submit-button" name="submit">Регистрация</button>
    </form>
</div>
</section>
{% endblock content %}

